$cyan: hsl(179, 62%, 43%);
$darkCyan: hsl(179, 63%, 36%);
$lightCyan: hsla(179, 62%, 43%, 0.85);
$yellow: hsl(71, 73%, 54%);
$gray: hsl(204, 43%, 93%);
$blue: hsl(218, 22%, 67%);
$white: hsl(0, 0%, 100%);
